body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

header {
  background-color: #0f172a;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 50px 20px;
}

h2 {
  color: #2563eb;
}

ul {
  list-style: none;
  padding: 0;
}

li::before {
  content: "✔ ";
  color: #2563eb;
}

footer {
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}
